<div style="margin-top: 20px" *ngIf="form"> 
  <div>Detalhe do Form</div>

  <pre>
    Form válido: {{ form.valid }}
  </pre>

  <pre>
    Form submetido: {{ form.submitted }}
  </pre>

  <pre>
    Form Valores: <br>{{ form.value | json }}
  </pre>


</div>